.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --footer-color: #2f303a;
  --second-btn-color: #188ce8;
  --background-color: #f5f4fa;
  --white-text: #fff;
  --black-text: #000;
  --bcg-clint-icon: #afb1b8;
  --transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  --transition-duration: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.socials__list {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: #fff;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header {
  background-color: var(--white-text);
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: var(--black-text);
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__link {
  display: block;
  color: var(--main-text-color);
  position: relative;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__mail {
    margin-right: 50px;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--second-btn-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header > .container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header > .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.open-menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}
.open-menu-btn:hover, .open-menu-btn:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}
.mob-menu .container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-menu-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.close-menu-btn:hover, .close-menu-btn:focus {
  fill: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.current-mob {
  color: var(--accent-color);
}

.mob-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.mob-contact__list {
  margin-bottom: 64px;
}

.mob-soc__list {
  display: flex;
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-2x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin: 0 auto;
  display: block;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--second-btn-color);
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color);
}

.benefits__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__subtitle {
    text-align: left;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about {
  padding-top: 47px;
  padding-bottom: 94px;
}

.about__title {
  margin-bottom: 50px;
  text-align: center;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text-top {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-text);
}

.team {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team img {
  width: 100%;
}

.team__item {
  width: 100%;
  background-color: var(--white-text);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__job {
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team__group {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  display: flex;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__icon {
  fill: var(--bcg-clint-icon);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bcg-clint-icon);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
}

.backdrop {
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--white-text);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.close-button:focus, .close-button:hover {
  fill: var(--accent-color);
}

.modal-top-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-com {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-chek {
  margin-bottom: 30px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.modal-button:focus, .modal-button:hover {
  background-color: var(--second-btn-color);
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input + .modal-icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
}
.modal-privacy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  margin-right: 9px;
}
@media screen and (min-width: 1200px) {
  .modal-privacy-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-left: 12px;
  }
}

.input-modal-check:checked + .modal-privacy-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-link {
  font-family: inherit;
  color: var(--accent-color);
  margin-left: 2px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio img {
  width: 100%;
}

.portfolio-btns {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .portfolio-btns {
    flex-wrap: wrap;
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-btns {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-btns {
    margin-bottom: 50px;
  }
}

.portfolio-btn {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-link {
  display: inline-block;
  width: 100%;
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exmpl-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  font-weight: 700;
  color: var(--main-text-color);
}

.exmpl-about {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.container-exmpl {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-exmpl {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-exmpl {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-exmpl {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-about-projects {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.portfolio-link:hover .portfolio-about-projects, .portfolio-link:focus .portfolio-about-projects {
  transform: translateY(0);
}

.potfolio-thumb {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer .container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .wrap-tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    margin-right: 70px;
  }
}

.logo__text--light {
  color: var(--white-text);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.adress__contact:hover, .adress__contact:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .socials {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-right: 93px;
  }
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.socials__item--darkTheme {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.footer-buttom {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  fill: var(--white-text);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-buttom:hover, .footer-buttom:focus {
  background-color: var(--second-btn-color);
}
@media screen and (max-width: 1199px) {
  .footer-buttom {
    margin: 0 auto;
  }
}

.icon-send {
  margin-left: 10px;
}

.footer-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--white-text);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form-wrap {
    margin-top: 60px;
  }
}/*# sourceMappingURL=main.css.map */