.about {
  display: none;
}

.about {
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.about {
  padding-top: 47px;
  padding-bottom: 94px;
}

.about__title {
  margin-bottom: 50px;
  text-align: center;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about__text-top {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-text);
}
