.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.wrap-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    // margin-bottom: 60px;
  }
}

.footer__wrap {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo__text--light {
  color: var(--white-text);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
  transition: color var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.socials__item--darkTheme {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.footer-buttom {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  fill: var(--white-text);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--second-btn-color);
  }
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.icon-send {
  margin-left: 10px;
}

.footer-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--white-text);
  &::placeholder {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form-wrap {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.socials__icon--light {
  fill: var(--white-text);
}
