:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --footer-color: #2f303a;
  --second-btn-color: #188ce8;
  --background-color: #f5f4fa;
  --white-text: #fff;
  --black-text: #000;
  --bcg-clint-icon: #afb1b8;
  --transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
  --transition-duration: 250ms;
}